header {
  height: 100px;
  width: 100%;
  background: #111;
}

.page-wrap {
  padding: 100px;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header .header-menu-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .header-menu-style li {
  position: relative;
}

header .header-menu-style li a {
  color: #fff;
  padding: 0.25rem 1rem;
  text-decoration: none;
}

header .header-menu-style li .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header-menu-style .menu-item-has-children:hover .sub-menu {
  display: flex;
}
